@font-face {
  font-family: "DMSansVariable";
  src: url("../fonts/static/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSansVariable";
  src: url("../fonts/static/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /*======== Setting root's font size ========*/
  font-size: 18px;
  /*======== Font and typography ========*/
  --font-family: "DMSansVariable", sans-serif;
  --ultralarge-font-size: 2.5rem;
  --large-font-size: 1.7rem;
  --medium-font-size: 1.4rem;
  --normal-font-size: 1rem;
  /*======== Colors ========*/
  --white-purple: hsl(254, 88%, 90%);
  --dark-purple: hsl(256, 67%, 59%);
  --white-yellow: hsl(31, 66%, 93%);
  --dark-yellow: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

/*======== Resetting default styles ========*/
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  color: var(--black);
}

h1,
p {
  margin: 0;
}

h1 {
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*======== Base ========*/
.main {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cards {
  width: calc(100% - 2rem);
  max-width: 1200px;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 31px;
  margin-top: 2rem;
}

.card {
  position: relative;
  padding: 16px;
  border-radius: 10px;
}

/*======== Util Classes ========*/
.card__title--italic {
  font-style: italic;
}

.card__title--yellow {
  color: var(--dark-yellow);
}

.card__title--purple {
  color: var(--dark-purple);
}

.card__title--ultralargesize {
  font-size: var(--ultralarge-font-size);
}

.card__title--white {
  color: var(--white);
}

/*======== Specific Card Styles ========*/
.fast-ai {
  background-color: var(--dark-purple);
  padding: 32px 40px;
  text-align: center;
}

.fast-ai .card__details {
  margin-top: 2rem;
  color: var(--white);
}

.manage-accounts {
  background-color: var(--white);
}

.consisten-schedule {
  background-color: var(--dark-yellow);
}

.schedule-social {
  background-color: var(--white-purple);
}

.grow-followers {
  background-color: var(--dark-purple);
}

.audience-growth {
  background-color: var(--white);
}

.create-schedule {
  background-color: var(--white-yellow);
}

.write-ai {
  background-color: var(--dark-yellow);
}
